In [1]:
import pandas as pd
from pycaret.classification import * 
import xgboost

In [2]:
data = pd.read_csv('./data/penguins.csv')
data

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,MALE
1,Adelie,Torgersen,39.5,17.4,186,3800,FEMALE
2,Adelie,Torgersen,40.3,18.0,195,3250,FEMALE
3,Adelie,Torgersen,36.7,19.3,193,3450,FEMALE
4,Adelie,Torgersen,39.3,20.6,190,3650,MALE
...,...,...,...,...,...,...,...
328,Gentoo,Biscoe,47.2,13.7,214,4925,FEMALE
329,Gentoo,Biscoe,46.8,14.3,215,4850,FEMALE
330,Gentoo,Biscoe,50.4,15.7,222,5750,MALE
331,Gentoo,Biscoe,45.2,14.8,212,5200,FEMALE
332,Gentoo,Biscoe,49.9,16.1,213,5400,MALE

In [3]:
s = setup(data, target = 'species', session_id = 123)

In [4]:
best = compare_models()

In [5]:
save_model(best, './model/penguins-best')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('label_encoding',
                  TransformerWrapperWithInverse(exclude=None, include=None,
                                                transformer=LabelEncoder())),
                 ('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['culmen_length_mm',
                                              'culmen_depth_mm',
                                              'flipper_length_mm',
                                              'body_mass_g'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=N...
                  RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                         class_weight=None, criterion='gini',
                                         max_depth=None, max_features='sqrt',
                                         max_leaf_nodes=None, max_samples=None,
                                         min_impurity_decrease=0.0,
                                         min_samples_leaf=1, min_samples_split=2,
                                         min_weight_fraction_leaf=0.0,
                                         monotonic_cst=None, n_estimators=100,
                                         n_jobs=-1, oob_score=False,
                                         random_state=123, verbose=0,
                                         warm_start=False))],
          verbose=False),
 './model/penguins-best.pkl')

In [6]:
new_data = pd.DataFrame({'island': ['Biscoe'],
                         'culmen_length_mm': [50.5],
                         'culmen_depth_mm': [15.1],
                         'flipper_length_mm': [210],
                         'body_mass_g': [5000],
                         'sex': ['MALE']
                        })
new_data

,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Biscoe,50.5,15.1,210,5000,MALE

In [7]:
new_pred = predict_model(best, data=new_data)
new_pred

,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex,prediction_label,prediction_score
0,Biscoe,50.5,15.1,210,5000,MALE,Gentoo,0.98

In [8]:
new_pred.at[0, 'prediction_label']

'Gentoo'